<!DOCTYPE html>
<html ng-app='popup'>
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="popup.css" />
		<link rel="stylesheet" type="text/css" href="angular-csp.css" />		
	</head>
	<body ng-controller="PopupController as popup">
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="jquery-1.11.3.js"></script>
		<script type="text/javascript" src="bootstrap.js"></script>
		<script type="text/javascript" src="popup.js"></script>

		<div class="main-div">
			<div class="search-div">
				<span class="search-text-span"><input id="search-text-field" type="text" class="form-control search-text" placeholder="Search all visited..." ng-model="searchText"></span>
				<button id="search-bug-button" ng-show="searchText.length > 0;" type="button" class="btn btn-default search-button btn-primary" ng-click="searchBug()">Search Buganizer</button>				
			</div>
			<table class="table table-hover">
				<tr valign="middle" ng-repeat="bug in getFilteredBugArray() | orderBy:'-lastVisited'" class="clickable-row">
					<td ng-click="openBugLink(bug)" class="bug-id">{{bug.id}}</td>
					<td ng-click="openBugLink(bug)" class="bug-title"><b>{{getBugTitleString(bug)}}</b></td>
					<td class="bug-copy"><button type="button" class="btn btn-default btn-sm copy-url-button" bug-url="{{getBugUrl(bug)}}" ng-click="setClickedBugUrlAndCopyEvent(bug)"><span class="glyphicon glyphicon-copy"></span></button></td>
				</tr>
			</table>
		</div>
	</body>
</html>